.CardToCopy__clipboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.CardToCopy__left-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardToCopy__copy-success-icon {
  color: green;
  position: absolute;
}

.CardToCopy__copy-card-icon {
  position: absolute;
}
